.react-calendar-heatmap-month-label,
.react-calendar-heatmap,
.react-calendar-heatmap-week {
  background-color: red;
}

.q1 {
  background-color: #e3c0ea;
}
.q2 {
  background-color: #a592b7;
}
.q3 {
  background-color: #6e4a8f;
}
.q4 {
  background-color: #461f6b;
}
.q5 {
  background-color: #1f0142;
}
